{%extends "monApp/base.html"%}

{%block contenu%}

<h1>Liste de nos rayons</h1>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom rayon</th>
    </thead>
    <tbody>
        {% for rayon in rayons %}
        <tr>
            <td><a href="{% url 'rayon-dtl' rayon.idRayon %}">{{ rayon.idRayon }}</a></td>
            <td>{{ rayon.nomRayon }} </td>
            <td>
                <a href="{% url 'rayon-dtl' rayon.idRayon %}" class="btn btn-primary mt-2">Détails</a>
                <a href="{% url 'rayon-chng' rayon.idRayon %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'rayon-dlt' rayon.idRayon %}" class="btn btn-danger mt-2">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_rayon' %}" class="btn btn-primary mt-2">Créer un nouveau rayon</a>
{%endblock%}