{%extends "monApp/base.html"%}

{%block contenu%}

<h1>Liste de nos status</h1>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
        <th>Nombre de Produits</th>
    </thead>
    <tbody>
        {% for statut in status %}
        <tr>
            <td><a href="{% url 'statut-dtl' statut.idStatus %}">{{ statut.idStatus }}</a></td>
            <td>{{ statut.libelleStatus }} </td>
            <td>{{ statut.nb_produits }} </td>
            <td>
                <a href="{% url 'statut-dtl' statut.idStatus %}" class="btn btn-primary mt-2">Détails</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}